{% extends 'base.html' %}
{% block title %}
Contact the developer
{% endblock %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}
<section id="contact-me">
    <div class="contact-hero">
        <div class="hero">
            <h1>Belows are my contact details</h1>
        </div>

          <div class="contact-info">
                      
        <p>In case you have query about the website or you want to contact me</p>
        
              <a href="mailto:haobamjamess&@gmail.com?subject = Feedback&body = Message">haobamjamess8@gmail.com</a>
              <p>Don't forget to Send feed back also</p>
          </div>

    </div>
    



</section>
{% endblock %}